**1 Learning outcomes PW2**

In this lesson, we are faced with the data preparation before processing them with a ML pipeline. Data preparation
is seen as an tremendous step in the ML pipeline, where data scientists spend much of their time cleaning up
datasets and shaping them for better exploitation. In fact, a lot of data scientists argue that the initial steps of
obtaining and cleaning data constitute 80% of the job. Your practical working will be splited into 3 parts as teh
following:

1. Part I: Pandass Data toolkit to manage data from CSV format
2. Part II: Data checking
3. Part III: data repairing

**Part I: Data management with Pandas**

Pandas is used to manipulate, clean, and query data by looking at the Pandass data tool kit. Pandass was created
by Wes McKinny in 2008 and is an open source project under a very permissive license.

**Exercise 1: Pandas Series data structure**

If you are familiar with Pandas and Series manipulation, you can skip this one and go to the second exercise. To
start, you will create a new notebook using your local environment or colab environment. You have to name your
notebook with PW2-[firstName Lastname MajorName]. Now you can answer the following questions:

1. import Pandas and create a list of sports containing this list [′F ootball′,′ HandBall′,′ SnowSport′] and
store it in a variable sports;

In [ ]:
import pandas
sports=['Football','HandBall','SnowSport']

2. cast your list as a series and display sports using the Class Pandass.Series (see documention on class Pan-
dass.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False))

In [ ]:
pandas.Series(data=sports)

0     Football
1     HandBall
2    SnowSport
dtype: object

3. what is the type of each element of your list?

In [ ]:
for i in range(len(sports)):
  print(type(sports[i]))

<class 'str'>
<class 'str'>
<class 'str'>

4. Create a new list named numeric containing a short list of numbers and display it as a series.

In [ ]:
numeric=[1,3,5,6,9,45]
pandas.Series(data=numeric)

0     1
1     3
2     5
3     6
4     9
5    45
dtype: int64

5. add the value None to both animals and numeric and compare their corresponding display with Series.
What did you remark?

In [ ]:
numeric=[None, 15,100]
# cast list as a Series
pandas.Series(numeric)
# create list of sports
sports = ['BasketBall', 'HandBall', None]
# cast list as a Series
pandas.Series(sports)

0    BasketBall
1      HandBall
2          None
dtype: object

On remarque qu'en sérialisant numeric qui contient que des floats, le retour de None est NaN alors qu'on obtient bien None avec Sports qui ne contient que des str. Donc on peut en déduire que None est compris comme un str et non comme une valeur vide après sérialisation

6. We shall correct the incomplete value None of sports by changing the None by NaN (Numpy.nan)

In [ ]:
import numpy as np
np.isnan(np.nan)
sports = ['BasketBall', 'HandBall', np.nan]
pandas.Series(sports)

0    BasketBall
1      HandBall
2           NaN
dtype: object

7. Let construct our variable sports from a dictionary as follows: {’BasketBall’, ’HandBall’, ’Snowsport’,
’baseBall’, ’Swimming’}. Cast the variable to a serie and store it a new variable sIndex. Display sIndex
and call the function index on it. What did you remark?

**Note**: Series data structure
• Pandass.Series offers an object storage from a dictionary, the indexes become the keys rather than
integers
• You need to use special functions to test the presence of a not a number, such as the numpy library
isnan() function.

In [ ]:
sportsvar={'BasketBall':0, 'HandBall':0, 'Snowsport':0, 'baseBall':0, 'Swimming':0}
sIndex=pandas.Series(data=sportsvar)
display(sIndex)
sIndex.index

BasketBall    0
HandBall      0
Snowsport     0
baseBall      0
Swimming      0
dtype: int64

Index(['BasketBall', 'HandBall', 'Snowsport', 'baseBall', 'Swimming'], dtype='object')

**Exercise 2: Series Querying**

Let we consider the variable sports from a dictionary.

In [ ]:
import numpy as np
np.isnan(np.nan)
sports={'bask': 'BasketBall', 'hand': 'HandBall', 'snow': 'Snowsport', 'base': 'baseBall','swim': 'Swimming'}
#cast the list on a serie
sIndex=pandas.Series(sports)
#display the serie
display(sIndex)
sIndex.index

bask    BasketBall
hand      HandBall
snow     Snowsport
base      baseBall
swim      Swimming
dtype: object

Index(['bask', 'hand', 'snow', 'base', 'swim'], dtype='object')

1. Display the second element of the variable sports and find the element who has ’swim’. (use iloc[] to index
location and loc[] to label location).

In [ ]:
print(sIndex.iloc[1])
print(sIndex.loc['swim'])

HandBall
Swimming

2. Transform all items of your list sports in an uppercase characters (see Series.str.upper())

In [ ]:
sIndex.str.upper()

bask    BASKETBALL
hand      HANDBALL
snow     SNOWSPORT
base      BASEBALL
swim      SWIMMING
dtype: object

3. write a simple loop to transform sports in an uppercase Characters

In [ ]:
for i in range(len(sIndex)):
  sIndex.iloc[i].upper()
print(sIndex)

bask    BasketBall
hand      HandBall
snow     Snowsport
base      baseBall
swim      Swimming
dtype: object

4. compare the runtime between both solutions and explain the runtime gap (see %timeit which is an IPython
magic function, which can be used to time a particular piece of code.)

In [ ]:
import timeit
%timeit sIndex.str.upper()

%timeit for i in range(len(sIndex)): sIndex.iloc[i].upper()

108 µs ± 19.2 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
31.2 µs ± 779 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

On remarque que la boucle qu'on a fait est bien plus rapide en temps d'éxécution car celle-ci ne fait pas intervenir de fonction déjà conçu et adaptable à toute série

5. compare the runtime between the function np.mean() and a loop to calculate the mean value of your numeric
variable.

In [ ]:
#Solution 1 with vectorisation using np.mean()
numeric=[None, 15,100]
# cast list as a Series
num=pandas.Series(numeric)
start=time.time()
meanValue=np.mean(num)
end=time.time()
print(end-start)
print(meanValue)
import time

%timeit meanValue=np.mean(num)

#Solution 2 using a loop
meanValue = 0
sum=0
cp=0
start=time.time()
for item in num:
  if np.isnan(item) == False:
    sum+=item #be carefull: you have to manage the NaN value
  else:
    cp+=1
meanValue=sum/(len(num)-cp)
end=time.time()
print(meanValue)
print(end-start)

0.0016372203826904297
57.5
90.2 µs ± 17.5 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
57.5
0.0002989768981933594

Note: Vectorization and broadcasting operators
• Vectorization in Pandass allows to apply a numerical operation on all values of a serie like the mean,
sum, etc.
• Broadcasting in Pandass allows to apply an operation to each value on the serie.

**Part II: data checking**

**Exercise 3: From CSV to DataFrame data structure**

As a first step, we need python libraries allowing us to load our data as a dataframe. You have to download the
csv file named Pearson.csv. This file contains 15 columns separated with a ’,’ character.
1. Load the file Pearson.csv and store its content into a dataframe variable pearson Data

In [7]:
#be carefull: you need the relative path to your file folder
pearson_Data =pandas.read_csv('/content/sample_data/Pearsons.csv', delimiter= ',')

2. Display the shape of your dataframe and display the header to understand the meaning of each column.

In [ ]:
pearson_Data.shape #(4404,15)
pearson_Data.head()

,name,address,city,state,zip,phone,email,work,work address,work city,work state,work zipcode,work phone,work email,account created on
0,Deonte Stark,278 Mueller Plains,North Euna,Alabama,03404-4384,(180)940-9676x4495,shanna73@hotmail.com,Hahn-Mayer,8177 Weber Throughway Apt. 341,Jaronton,Maine,51589-1424,01240240340,heller.kirstin@glover.com,2001-09-06 06:15:24
1,Faustino Boyer,70244 Skiles Falls Suite 030,North Altohaven,California,01522-1310,(308)699-6239x81011,ferrell81@gmail.com,Buckridge Inc,236 Kessler Center,New Gavynshire,Missouri,52234-6972,(486)896-6855x446,esta.dicki@bechtelar.com,1983-04-25
2,"Eddy Bogisich,33431 Dollie Squares Apt. 654,Po...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mervyn Kreiger,376 Dorinda Stream,Shaniquafort,South Carolina,39347-4438,869-985-6299,emmerich.griselda@hotmail.com,Witting PLC,521 Kemmer Manors,Nerytown,Kentucky,68774,(212)169-8190,greyson39@purdy.com,1971-04-27 14:05:06
4,"Katlyn Doyle,4650 Beer Crossing Suite 848,Nort...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. Use the dataframe.columns to display the dictionary indexing your data

In [ ]:
pearson_Data.columns

Index(['name', 'address', 'city', 'state', 'zip', 'phone', 'email', 'work',
       'work address', 'work city', 'work state', 'work zipcode', 'work phone',
       'work email', 'account created on'],
      dtype='object')

**Exercise 4: Check missing values**

Now we want to evaluate the number of missing data in the hole data. Display the total of missing values in each
column of pearson Data
1. You can use dataframe.isnull() and verctorization to sum missing values by each column

In [ ]:
somme=0
df=pearson_Data.isnull()
for i in df.index:
  if df['name'][i] or df['address'][i] or df['city'][i] or df['state'][i] or df['zip'][i] or df['phone'][i] or df['email'][i] or df['work'][i] or df['work address'][i] or df['work city'][i] or df['work state'][i] or df['work zipcode'][i] or df['work phone'][i] or df['work email'][i] or df['account created on'][i]:
    somme+=1
print(somme)

1945

2. Display the rows with missing values in the ’name’ column, you should have 81 rows

In [ ]:
for i in df.index:
  if df['name'][i]==True:
    print(i)

148
273
300
330
467
490
492
530
717
734
801
830
949
1066
1334
1434
1500
1880
1976
1997
2199
2237
2305
2512
2590
2678
2723
2799
2807
3025
3027
3124
3390
3478
3504
3595
3899
4076
4169
4253
4260
4400

3. Try removing rows with missing names. We call dropna() function which has many arguments to scale the
level of a filtered data:

 • axis=0 or 1 allows to filter the missing values according to the row(axis=0) or the column(axis=1)

 • how=all allows to eliminate all rows or all columns having mainly missing values

 • inplace = True allow to need the same dataframe without creating a new output

 • thresh= integer value allows to keep only rows (or columns) having a missing value rate more than
thresh.

test the function dropna() on your dataframe as:

  • dropna(how=’all’, inplace=True) and check if missing values are removed!

  • dropna(inplace=True, axis=0) and check if missing values are removed!
  
What did you conclude?

In [ ]:
pearson_Data.dropna(how='all',inplace=True) #ne fonctionne pas (ligne non supprimé)

pearson_Data.dropna(inplace=True, axis=0) #marche bien, on peut donc en conclure que l'ordre des paramètre de la fonction est important et qu'il faut préciser si on s'intéresse au ligne ou au colone pour bien supprimer les valeurs manquantes
pearson_Data

,name,address,city,state,zip,phone,email,work,work address,work city,work state,work zipcode,work phone,work email,account created on
0,Deonte Stark,278 Mueller Plains,North Euna,Alabama,03404-4384,(180)940-9676x4495,shanna73@hotmail.com,Hahn-Mayer,8177 Weber Throughway Apt. 341,Jaronton,Maine,51589-1424,01240240340,heller.kirstin@glover.com,2001-09-06 06:15:24
1,Faustino Boyer,70244 Skiles Falls Suite 030,North Altohaven,California,01522-1310,(308)699-6239x81011,ferrell81@gmail.com,Buckridge Inc,236 Kessler Center,New Gavynshire,Missouri,52234-6972,(486)896-6855x446,esta.dicki@bechtelar.com,1983-04-25
3,Mervyn Kreiger,376 Dorinda Stream,Shaniquafort,South Carolina,39347-4438,869-985-6299,emmerich.griselda@hotmail.com,Witting PLC,521 Kemmer Manors,Nerytown,Kentucky,68774,(212)169-8190,greyson39@purdy.com,1971-04-27 14:05:06
5,Daquan Leffler,43142 Howell Ports Apt. 953,West Emory,Connecticut,08086-5571,874-576-0739,natosha.kutch@yahoo.com,Christiansen Ltd,3136 Jered Junction Suite 993,West Mallie,New Hampshire,40778-7891,215.605.7824x844,anderson.gifford@nader.com,2014-01-15 23:15:43
6,Jace Konopelski,963 Senger Points Apt. 992,Lake Fonda,North Dakota,15581,(083)182-4626x8012,langosh.mathilde@hotmail.com,Glover-Howe,87986 Harvey Islands,South Zackary,Kentucky,75232-9391,(270)125-2639,kassulke.fate@hills.com,05/20/2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,Saniya O'Keefe,480 Joesph Creek Apt. 585,West Miley,Wisconsin,00272,1-978-765-2813x6162,franc.greenholt@hotmail.com,McGlynn-Borer,88616 Estill Cape,South Dustanburgh,Texas,22459-2234,+69(8)9327094854,rspencer@lemkecasper.com,2004-09-15 11:54:07
4398,Alvin Kautzer,3607 Anderson Pine,Oreliaside,Arkansas,89487,+93(3)7185211451,isom92@hotmail.com,Tillman-Ferry,826 Hane Squares Suite 489,Eloisastad,California,14456,1-267-170-3391x93273,damion99@wiza.com,1989-03-31 20:19:58
4399,Gillie Gusikowski,9480 Najee Ranch Apt. 857,New Rolfmouth,Alaska,66552,+42(8)2670191978,gideon.blick@gmail.com,Bergstrom-Bergnaum,4404 O'Kon Fall Suite 864,New Kelsiberg,New Mexico,51342-5945,934.085.0715,lilian.schamberger@hayes.net,05/30/1973
4401,Arie Greenholt,602 Adams Square Suite 584,New Kathryn,Wisconsin,54862-1729,773.698.4431x284,merton.schuster@hotmail.com,Lakin Ltd,242 Whitley Wall Apt. 108,Waelchitown,Oregon,55323-3263,689.651.4137,payton.king@osinski.com,2012-12-29
4402,Ava Pacocha,85718 Darvin Green,Nickystad,Indiana,26497-9391,833-841-7418x22039,nkerluke@hotmail.com,Luettgen and Sons,637 Terry Glens,Buddburgh,Rhode Island,11516,127-507-5508,kian13@wizastamm.info,2011-06-02

**Exercise 5: Ensure that values have the right format/type**

If we take the ”name” column, we find the first name and the last name separated with a blank character
1. check the type of each column using the function astype()

In [8]:
print(pearson_Data['name'].astype(object).dtypes)
print(pearson_Data['address'].astype(object).dtypes)
print(pearson_Data['city'].astype(object).dtypes)
print(pearson_Data['state'].astype(object).dtypes)
print(pearson_Data['zip'].astype(object).dtypes)
print(pearson_Data['phone'].astype(object).dtypes)
print(pearson_Data['email'].astype(object).dtypes)
print(pearson_Data['work'].astype(object).dtypes)
print(pearson_Data['work address'].astype(object).dtypes)
print(pearson_Data['work city'].astype(object).dtypes)
print(pearson_Data['work state'].astype(object).dtypes)
print(pearson_Data['work zipcode'].astype(object).dtypes)
print(pearson_Data['work phone'].astype(object).dtypes)
print(pearson_Data['work email'].astype(object).dtypes)
print(pearson_Data['account created on'].astype(object).dtypes)
pearson_Data.info()

object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                9919 non-null   object
 1   address             6635 non-null   object
 2   city                6626 non-null   object
 3   state               6635 non-null   object
 4   zip                 6638 non-null   object
 5   phone               6634 non-null   object
 6   email               6637 non-null   object
 7   work                6610 non-null   object
 8   work address        6617 non-null   object
 9   work city           6622 non-null   object
 10  work state          6610 non-null   object
 11  work zipcode        6622 non-null   object
 12  work phone          6623 non-null   object
 13  work email          6641 non-null   object
 14  account created on  6632 non-null   object
dtypes: object(15)
memory usage: 1.1+ MB

2. Let we split the column ’name’ into two columns where the first string is the first name and the second
string is the last name. (see str.split()).

In [ ]:
#pearson_Data[['first_name', 'last_name']]=
pearson_Data['name'].str.split(" ") # erreur du au fait que le fichier est mal entrer (certain prénom commence par des espaces)

0            [Deonte, Stark]
1          [Faustino, Boyer]
3          [Mervyn, Kreiger]
5          [Daquan, Leffler]
6       [, Jace, Konopelski]
                ...
4397     [, Saniya, O'Keefe]
4398      [, Alvin, Kautzer]
4399    [Gillie, Gusikowski]
4401       [Arie, Greenholt]
4402        [, Ava, Pacocha]
Name: name, Length: 2459, dtype: object

3. You can remark incorrect lastname values. Remove rows having lastname length up to 16 characters.

Take 5 mn to outline the main ideas you’ve retained from these exercises (Part I and II)

In [ ]:
# impossible en raison du pb question précédente

**Part III: Data repairing with imputation**

**Exercise 6: Do it from scratch at home and upload it on Moodle **

Now you have a new dataset ”Olympics.csv” available on Moodle. You have to define your own strategy to clean
this data and comment your notebook at each step.

In [11]:
import pandas as pd
import numpy as np
olympics=pd.read_csv("/content/sample_data/olympics.csv",delimiter=",")
olympics.info()
# On constate que chaque colone est du type object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
 1   1       148 non-null    object
 2   2       148 non-null    object
 3   3       148 non-null    object
 4   4       148 non-null    object
 5   5       148 non-null    object
 6   6       148 non-null    object
 7   7       148 non-null    object
 8   8       148 non-null    object
 9   9       148 non-null    object
 10  10      148 non-null    object
 11  11      148 non-null    object
 12  12      148 non-null    object
 13  13      148 non-null    object
 14  14      148 non-null    object
 15  15      148 non-null    object
dtypes: object(16)
memory usage: 18.6+ KB

In [12]:
print(olympics.head())
# On essaye de comprendre le rôle et les informations contenue dans chaque colone

                   0         1     2     3     4      5         6     7     8  \
0                NaN  № Summer  01 !  02 !  03 !  Total  № Winter  01 !  02 !
1  Afghanistan (AFG)        13     0     0     2      2         0     0     0
2      Algeria (ALG)        12     5     2     8     15         3     0     0
3    Argentina (ARG)        23    18    24    28     70        18     0     0
4      Armenia (ARM)         5     1     2     9     12         6     0     0

      9     10       11    12    13    14              15
0  03 !  Total  № Games  01 !  02 !  03 !  Combined total
1     0      0       13     0     0     2               2
2     0      0       15     5     2     8              15
3     0      0       41    18    24    28              70
4     0      0       11     1     2     9              12

In [13]:
olympics.columns = olympics.iloc[0] #on change le nom des colones par celui de la 1ère ligne
olympics = olympics.drop(0) # on supprime la 1ère ligne de olymics

In [14]:
olympics = olympics.reset_index(drop=True) #on remet à jour l'indexation suite à la suppression de la 1ère ligne pour que l'indexage est toujours un sens
print(olympics.head())
print(olympics.tail()) #nous utilisons donc la première ligne comme index car elle est plus explicite sur ce qu'elle représente

0                      NaN № Summer 01 ! 02 ! 03 ! Total № Winter 01 ! 02 !  \
0        Afghanistan (AFG)       13    0    0    2     2        0    0    0
1            Algeria (ALG)       12    5    2    8    15        3    0    0
2          Argentina (ARG)       23   18   24   28    70       18    0    0
3            Armenia (ARM)        5    1    2    9    12        6    0    0
4  Australasia (ANZ) [ANZ]        2    3    4    5    12        0    0    0

0 03 ! Total № Games 01 ! 02 ! 03 ! Combined total
0    0     0      13    0    0    2              2
1    0     0      15    5    2    8             15
2    0     0      41   18   24   28             70
3    0     0      11    1    2    9             12
4    0     0       2    3    4    5             12
0                                             NaN № Summer  01 !  02 !  03 !  \
142  Independent Olympic Participants (IOP) [IOP]        1     0     1     2
143                            Zambia (ZAM) [ZAM]       12     0     1     1
144                          Zimbabwe (ZIM) [ZIM]       12     3     4     1
145                        Mixed team (ZZX) [ZZX]        3     8     5     4
146                                        Totals       27  4809  4775  5130

0    Total № Winter 01 ! 02 ! 03 ! Total № Games  01 !  02 !  03 !  \
142      3        0    0    0    0     0       1     0     1     2
143      2        0    0    0    0     0      12     0     1     1
144      8        1    0    0    0     0      13     3     4     1
145     17        0    0    0    0     0       3     8     5     4
146  14714       22  959  958  948  2865      49  5768  5733  6078

0   Combined total
142              3
143              2
144              8
145             17
146          17579

In [15]:
olympics.columns
olympics[['Country', 'Abbreviation']] = olympics[np.nan].str.split('\xa0', n=1, expand=True)
# nous divisons la colonne NaN en deux colonnes pays et abréviation

In [39]:
olympics.drop(np.nan,axis=1,inplace=True)
# on supprimme la colonne NaN
print(olympics.head())
print(olympics.columns)
print(olympics['Abbreviation'])
print(olympics['Country'])
# On a ainsi donnée du sens à cette colonne

0 № Summer 01 ! 02 ! 03 ! Total № Winter 01 ! 02 ! 03 ! Total № Games 01 !  \
0       13    0    0    2     2        0    0    0    0     0      13    0
1       12    5    2    8    15        3    0    0    0     0      15    5
2       23   18   24   28    70       18    0    0    0     0      41   18
3        5    1    2    9    12        6    0    0    0     0      11    1
4        2    3    4    5    12        0    0    0    0     0       2    3

0 02 ! 03 ! Combined total      Country Abbreviation
0    0    2              2  Afghanistan        (AFG)
1    2    8             15      Algeria        (ALG)
2   24   28             70    Argentina        (ARG)
3    2    9             12      Armenia        (ARM)
4    4    5             12  Australasia  (ANZ) [ANZ]
Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !', '02 !',
       '03 !', 'Total', '№ Games', '01 !', '02 !', '03 !', 'Combined total',
       'Country', 'Abbreviation'],
      dtype='object', name=0)
0            (AFG)
1            (ALG)
2            (ARG)
3            (ARM)
4      (ANZ) [ANZ]
          ...
142    (IOP) [IOP]
143    (ZAM) [ZAM]
144    (ZIM) [ZIM]
145    (ZZX) [ZZX]
146           None
Name: Abbreviation, Length: 147, dtype: object
0                           Afghanistan
1                               Algeria
2                             Argentina
3                               Armenia
4                           Australasia
                     ...
142    Independent Olympic Participants
143                              Zambia
144                            Zimbabwe
145                          Mixed team
146                              Totals
Name: Country, Length: 147, dtype: object

On supprime ensuite les données inutiles

In [20]:
missing_values = olympics.isnull().sum() / len(olympics) #taux de valeurs manquante par colone
print(missing_values)

0
NaN               0.000000
№ Summer          0.000000
01 !              0.000000
02 !              0.000000
03 !              0.000000
Total             0.000000
№ Winter          0.000000
01 !              0.000000
02 !              0.000000
03 !              0.000000
Total             0.000000
№ Games           0.000000
01 !              0.000000
02 !              0.000000
03 !              0.000000
Combined total    0.000000
Country           0.000000
Abbreviation      0.006803
dtype: float64

In [24]:
new_Data=olympics
missing_values = olympics.isnull().sum(axis=1) / len(olympics.columns)
for i in range(len(missing_values)):
  if missing_values[i]>0.01:
    new_Data = new_Data.drop(i)
new_Data #Dataframe après suppression des lignes avec plus de 1% de donnée manquante pour garder des valeurs cohérente

,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total,Country,Abbreviation
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan,(AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria,(ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina,(ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia,(ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia,(ANZ) [ANZ]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia,(YUG) [YUG]
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants,(IOP) [IOP]
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia,(ZAM) [ZAM]
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe,(ZIM) [ZIM]
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team,(ZZX) [ZZX]

On a ainsi obtenu notre DataFrame olympics trié

**Exercise 7: Imputation to handle missing data**

In this exercise we will compare two solutions of data cleaning. The first one consists to drop missing columns val-
ues while the second is to fill missing values with interesting ones.
In your notebook, open the file melb data.csv.
1. load your data as a dataframe and use a clear name as ”initialData”

In [17]:
import pandas as pd
initialData=pd.read_csv('/content/sample_data/melb_data.csv', delimiter= ',')

2. observe first the quality of the data by using these functions: dataframe.columns, dataframe.info(), and
dataframe.shape.

In [4]:
initialData.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
initialData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  float64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(2), object(8)
memory usage: 3.1+ MB

In [9]:
initialData.shape

(18396, 22)

3. display the total missing values by columns (axis=0)

In [13]:
initialData.dropna(inplace=True, axis=0)
initialData

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15388,19732,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
15389,19733,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
15390,19734,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
15392,19736,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
15395,19739,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

4. display total missing Values by rows (axis=1)

In [14]:
initialData.dropna(inplace=True, axis=1)
initialData

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15388,19732,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
15389,19733,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
15390,19734,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
15392,19736,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
15395,19739,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

5. list the columns with missing values and store them in a variable colsWithMissing. Use the function isnull()
and try to write a simple function you can call it with other datasets with the following signature and core
code as following:

In [18]:
def missing_colums(origin_Data):
  #use an iterator on initialData.columns and a vectorization mode
  colsWithMissing = [col for col in origin_Data.columns if origin_Data[col].isnull().any()]
  reduced_original_data = origin_Data.drop(colsWithMissing, axis=1)
  return colsWithMissing, reduced_original_data

col, finaldata=missing_colums(initialData)
print(col)
print(finaldata)

['Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']
       Unnamed: 0        Suburb           Address  Rooms Type      Price  \
0               1    Abbotsford      85 Turner St      2    h  1480000.0
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date
0          S      Biggin   3/12/2016
1          S      Biggin   4/02/2016
2         SP      Biggin   4/03/2017
3         PI      Biggin   4/03/2017
4         VB      Nelson   4/06/2016
...      ...         ...         ...
18391     SP        Greg  26/08/2017
18392     PI     Sweeney  26/08/2017
18393      S  Buckingham  26/08/2017
18394     SP     Village  26/08/2017
18395     VB     Village  26/08/2017

[18396 rows x 9 columns]


If those columns had relevant information your model loses access to it when the column is dropped. An-
other drawback to this solution is to miss to do the same droping on the test dataset where an error will
occur.
6. display the rate of missing values by columns

In [25]:
missing_values = initialData.isnull().sum() / len(initialData)
print(missing_values)

Unnamed: 0       0.000000
Suburb           0.000000
Address          0.000000
Rooms            0.000000
Type             0.000000
Price            0.000000
Method           0.000000
SellerG          0.000000
Date             0.000000
Distance         0.000054
Postcode         0.000054
Bedroom2         0.188574
Bathroom         0.188682
Car              0.194390
Landsize         0.260546
BuildingArea     0.578060
YearBuilt        0.513046
CouncilArea      0.335018
Lattitude        0.181126
Longtitude       0.181126
Regionname       0.000054
Propertycount    0.000054
dtype: float64

7. do the same on the rows

In [27]:
missing_values = initialData.isnull().sum(axis=1) / len(initialData.columns)
print(missing_values)

0        0.090909
1        0.000000
2        0.000000
3        0.090909
4        0.000000
           ...
18391    0.090909
18392    0.045455
18393    0.181818
18394    0.045455
18395    0.090909
Length: 18396, dtype: float64

8. remove rows whom the rate of missing values are > 5% from the origin data and store the result on a new
dataframe variable named new Data.

In [21]:
new_Data=initialData
missing_values = initialData.isnull().sum(axis=1) / len(initialData.columns)
for i in range(len(missing_values)):
  if missing_values[i]>0.05:
    new_Data = new_Data.drop(i)
new_Data

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18382,23527,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
18384,23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
18389,23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

9. call your function missing colums(originDB) on both original data and on new data obtained after removal rows. How do you explain the columns difference?

In [33]:
print(missing_colums(initialData))
print(missing_colums(new_Data)) # il reste 19 colones à new_Data alors qu'il en reste 9 à initial_Data car on a garder chaque ligne dans laquelle il ne manquait qu'une seule donnée dans new_Data, on a donc déjà supprimer toute les lignes où il manquait beaucoup de données. Ainsi, lorsqu'on regarde les données manquante dans les colones de new_data, il y en a beaucoup moins car on en a déjà retirer en grande partie avant.

(['Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],        Unnamed: 0        Suburb           Address  Rooms Type      Price  \
0               1    Abbotsford      85 Turner St      2    h  1480000.0
1               2    Abbotsford   25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford      5 Charles St      3    h  1465000.0
3               5    Abbotsford  40 Federation La      3    h   850000.0
4               6    Abbotsford       55a Park St      4    h  1600000.0
...           ...           ...               ...    ...  ...        ...
18391       23540  Williamstown   8/2 Thompson St      2    t   622500.0
18392       23541  Williamstown      96 Verdon St      4    h  2500000.0
18393       23544     Yallambie      17 Amaroo Wy      4    h  1100000.0
18394       23545    Yarraville        6 Agnes St      4    h  1285000.0
18395       23546    Yarraville     33 Freeman St      4    h  1050000.0

      Method     SellerG        Date
0          S      Biggin   3/12/2016
1          S      Biggin   4/02/2016
2         SP      Biggin   4/03/2017
3         PI      Biggin   4/03/2017
4         VB      Nelson   4/06/2016
...      ...         ...         ...
18391     SP        Greg  26/08/2017
18392     PI     Sweeney  26/08/2017
18393      S  Buckingham  26/08/2017
18394     SP     Village  26/08/2017
18395     VB     Village  26/08/2017

[18396 rows x 9 columns])
(['BuildingArea', 'YearBuilt', 'CouncilArea'],        Unnamed: 0        Suburb          Address  Rooms Type      Price  \
1               2    Abbotsford  25 Bloomburg St      2    h  1035000.0
2               4    Abbotsford     5 Charles St      3    h  1465000.0
4               6    Abbotsford      55a Park St      4    h  1600000.0
6              11    Abbotsford     124 Yarra St      3    h  1876000.0
7              14    Abbotsford    98 Charles St      2    h  1636000.0
...           ...           ...              ...    ...  ...        ...
18382       23527      Watsonia    76 Kenmare St      2    h   650000.0
18384       23532      Werribee      5 Nuragi Ct      4    h   635000.0
18389       23538  Williamstown    77 Merrett Dr      3    h  1031000.0
18392       23541  Williamstown     96 Verdon St      4    h  2500000.0
18394       23545    Yarraville       6 Agnes St      4    h  1285000.0

      Method        SellerG        Date  Distance  Postcode  Bedroom2  \
1          S         Biggin   4/02/2016       2.5    3067.0       2.0
2         SP         Biggin   4/03/2017       2.5    3067.0       3.0
4         VB         Nelson   4/06/2016       2.5    3067.0       3.0
6          S         Nelson   7/05/2016       2.5    3067.0       4.0
7          S         Nelson   8/10/2016       2.5    3067.0       2.0
...      ...            ...         ...       ...       ...       ...
18382     PI       Morrison  26/08/2017      14.5    3087.0       2.0
18384      S  hockingstuart  26/08/2017      14.7    3030.0       4.0
18389     SP       Williams  26/08/2017       6.8    3016.0       3.0
18392     PI        Sweeney  26/08/2017       6.8    3016.0       4.0
18394     SP        Village  26/08/2017       6.3    3013.0       4.0

       Bathroom  Car  Landsize  Lattitude  Longtitude             Regionname  \
1           1.0  0.0     156.0  -37.80790   144.99340  Northern Metropolitan
2           2.0  0.0     134.0  -37.80930   144.99440  Northern Metropolitan
4           1.0  2.0     120.0  -37.80720   144.99410  Northern Metropolitan
6           2.0  0.0     245.0  -37.80240   144.99930  Northern Metropolitan
7           1.0  2.0     256.0  -37.80600   144.99540  Northern Metropolitan
...         ...  ...       ...        ...         ...                    ...
18382       1.0  1.0     210.0  -37.70657   145.07878  Northern Metropolitan
18384       2.0  1.0     662.0  -37.89327   144.64789   Western Metropolitan
18389       2.0  2.0     333.0  -37.85927   144.87904   Western Metropolitan
18392       1.0  5.0     866.0  -37.85908   144.89299   Western Metropolitan
18394       1.0  1.0     362.0  -37.81188   144.88449   Western Metropolitan

       Propertycount
1             4019.0
2             4019.0
4             4019.0
6             4019.0
7             4019.0
...              ...
18382         2329.0
18384        16166.0
18389         6380.0
18392         6380.0
18394         6543.0

[8332 rows x 19 columns])

10. fill the missing values with the mean price, so you have to: 1) Display the statistical description of the
column Price using the function describe(), 2) then to calculate the mean value and 3) to fill the missing
value with the mean:

In [36]:
print(new_Data.loc[:,'Price'].describe())
print(new_Data['Price'].mean())
print(new_Data.loc[:,'Price'].fillna(new_Data['Price'].mean(),inplace=True))

count    8.332000e+03
mean     1.063969e+06
std      6.668554e+05
min      8.500000e+04
25%      6.200000e+05
50%      8.800000e+05
75%      1.315000e+06
max      9.000000e+06
Name: Price, dtype: float64
1063969.2016322613
None

**Exercise 8: Transformer and Pipeline with scikitlearn for Imputation processing**

In the previous exercise, we have decided to estimate the missing values using the mean estimator and fill missing
values with the same value. However the imputation is an estimation of the data with a defined strategy as
the median, the mean, variance, etc. Scikitlearn API provides an simple class to take care of missing values:
SimpleImputer. To use this class, we have to

• create a SimpleImputer instance by specifying the strategy

In [1]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='mean')

• since the mean could be calculated only on numerical attributes, you need to create a copy of the data
without the text attributes. You call this copy as a origin Data Num

• Then you have to fit the mean on your origin Data Num

In [15]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='mean')
Origin_Data_num=initialData.loc[:,'Price']
Origin_Data_num = Origin_Data_num.values.reshape(-1, 1)
my_imputer.fit(Origin_Data_num)

SimpleImputer()

the fit() function stores the result into its statistic instance variable. At any moment you can reuse this
variable to repair new missing values. You can display this variable: imputer.statistics

• finaly You use the imputer to transform the numerical data:

In [21]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='mean')
Origin_Data_num=initialData.loc[:,'Price']
Origin_Data_num = Origin_Data_num.values.reshape(-1, 1)
my_imputer.fit(Origin_Data_num)
print(my_imputer.statistics_)
my_imputer.transform(Origin_Data_num)

[1056697.46091542]

array([[1480000.],
       [1035000.],
       [1465000.],
       ...,
       [1100000.],
       [1285000.],
       [1050000.]])

Be careful, the output of the transform function is a numpy array. You have to convert it to a dataframe:

In [29]:
import numpy as np
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='mean')
Origin_Data_num=initialData.loc[:,'Price']
Origin_Data_num = Origin_Data_num.values.reshape(-1, 1)
my_imputer.fit(Origin_Data_num)
my_imputer.statistics_
Transform_Data_num = my_imputer.transform(Origin_Data_num)
print(Transform_Data_num)
df_Transform_Data_num=pd.DataFrame(Transform_Data_num, columns=['Price'], index=initialData.index)
print(df_Transform_Data_num)

[[1480000.]
 [1035000.]
 [1465000.]
 ...
 [1100000.]
 [1285000.]
 [1050000.]]
           Price
0      1480000.0
1      1035000.0
2      1465000.0
3       850000.0
4      1600000.0
...          ...
18391   622500.0
18392  2500000.0
18393  1100000.0
18394  1285000.0
18395  1050000.0

[18396 rows x 1 columns]




**Exercise 9: to learn more**

You can create a pipeline to automate the cleaning process using the pipe and imputer. Reshape your code to 1)
create a pipeline to handle numerical data and an other pipeline to handle categorical data

In [ ]:
# non traité